In [17]:
#import pandas
import pandas as pd

In [18]:
#read in dataset
hotel_bookings = pd.read_csv('hotel_bookings.csv')

In [19]:
#first look at data
hotel_bookings

       10 of 36 columns
0                 hotel
1           is_canceled
2             lead_time
3     arrival_date_year
4    arrival_date_month
..                  ...
402                  70
403                2015
404                July
405                  27
406                   2

[407 rows x 1 columns]

In [20]:
#drop/rename columns
hotel_bookings.columns

Index(['10 of 36 columns'], dtype='object')

In [21]:
hotel|_bookings.drop(columns='adult')

NameError: name 'hotel' is not defined

In [ ]:
#Nans

In [ ]:
#Check column data types